<ion-header>
  <ion-toolbar>
    <ion-title> Image Crop </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="discardChanges()" *ngIf="image">
        <ion-icon color="tertiary" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!-- <ion-button (click)="cropImage()" *ngIf="image"> -->
<ion-content>

  <image-cropper *ngIf="!isLogo"
    #cropper
    [imageBase64]="image"
    [maintainAspectRatio]="true"
    [aspectRatio]="16 / 9"
    format="png"
    [cropperMinWidth]="1600"
    [cropperMinHeight]="900"
    [hideResizeSquares]="isMobile"
    [transform]="transform"
    [autoCrop]="true"
    (imageCropped)="imageCropped($event)"
    [imageChangedEvent]="imageChangedEvent"
    (loadImageFailed)="loadImageFailed()"
    (imageLoaded)="imageLoaded()"
  ></image-cropper>

  <image-cropper *ngIf="isLogo"
    #cropper
    [imageBase64]="image"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png"
    [cropperMinWidth]="500"
    [cropperMinHeight]="500"
    [hideResizeSquares]="isMobile"
    [transform]="transform"
    [autoCrop]="true"
    (imageCropped)="imageCropped($event)"
    [imageChangedEvent]="imageChangedEvent"
    (loadImageFailed)="loadImageFailed()"
    (imageLoaded)="imageLoaded()"
  ></image-cropper>

</ion-content>


<ion-footer>
  <ion-row *ngIf="image">
    <ion-col class="ion-text-center">
      <ion-button color="tertiary" mode="ios" fill="clear" (click)="rotate()">
        <ion-icon name="refresh" slot="start"></ion-icon> Rotate
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button color="tertiary" mode="ios" fill="clear" (click)="flipHorizontal()">
        <ion-icon  slot="start" name="arrow-forward"></ion-icon> Flip </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button color="tertiary" mode="ios" fill="clear" (click)="flipVertical()"> <ion-icon  slot="start" name="arrow-down"></ion-icon> Flip </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button shape="round" mode="ios" (click)="cropImage()"> Upload Image </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>