<ion-card>
  <ion-card-header>
    <ion-card-title>STEP 6 - Menu Categories</ion-card-title>
    <ion-card-subtitle>Add information about your menu.</ion-card-subtitle>
  </ion-card-header>


  <ion-card-content>
    <form [formGroup]="newCatForm" >
      <ion-input label="Title" labelPlacement="stacked" type="text" formControlName="newCatName" >
      </ion-input>
      <ion-input label="Subtitle" labelPlacement="stacked" maxLength="75" [counter]="true" type="text" formControlName="newCatDesc" >
      </ion-input>
      <ion-button (click)="addCategory()" [disabled]="!newCatForm.valid" fill="clear" mode="ios"> <ion-icon slot="start" name="add-circle"></ion-icon> Add</ion-button>
    </form>


    <ion-list *ngIf="categories.length > 0">
      mnkjnkj
      <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
      <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
        <ion-item *ngFor="let cat of categories" >
          <ion-label>
            <h2>{{cat.name}}</h2>
            <p>{{cat.description}}</p>
         </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

      </ion-reorder-group>
    </ion-list>
    
    <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
  </ion-card-content>

  <ion-row class="btns-row">
    <ion-button (click)="merchantScript.changeToStep(5)" shape="round" mode="ios">Previous</ion-button>
    <ion-button (click)="nextStep()" shape="round" mode="ios">Next</ion-button>
  </ion-row>
</ion-card>