<ion-grid class="ion-no-padding">
  <ion-row class="header ion-padding">
    <ion-title class="ion-no-padding">Import Products</ion-title>
    <ion-text
      *ngIf="
        merchantScript &&
        merchantScript.notIndexedProducts &&
        merchantScript.notIndexedProducts.length > 0
      "
    >
      This items are not indexed yet. Select the product, fill the infortmation
      needed, and upload each of them.
    </ion-text>
    <ion-text *ngIf="merchantScript?.notIndexedProducts?.length === 0">
      All your items are already indexed. If you want to edit them, go to
      Products List Tab.
    </ion-text>
  </ion-row>
  <ion-row
    class="ion-justify-content-end"
    *ngIf="
      merchantScript &&
      merchantScript.notIndexedProducts &&
      merchantScript.notIndexedProducts.length > 10
    "
  >
    <ion-button
      fill="clear"
      mode="ios"
      color="secondary"
      (click)="page = page - 1"
      [disabled]="page === 1"
      expand="block"
      ><ion-icon slot="start" name="arrow-back"></ion-icon> Previous</ion-button
    >
    <ion-button
      fill="clear"
      mode="ios"
      expand="block"
      color="secondary"
      (click)="page = page + 1"
      [disabled]="page === totalPages"
      ><ion-icon slot="end" name="arrow-forward"></ion-icon> Next
    </ion-button>
  </ion-row>
  <ng-container
    *ngIf="
      merchantScript &&
      merchantScript.notIndexedProducts &&
      merchantScript.notIndexedProducts.length > 0
    "
  >
    <ion-row
      *ngFor="
        let prod of merchantScript?.notIndexedProducts
          | slice : (page - 1) * pageSize : page * pageSize
      "
    >
      <ion-item (click)="openProductModal(prod)">{{
        prod?.productName
      }}</ion-item>
    </ion-row>
  </ng-container>
</ion-grid>
