<ion-grid class="ion-no-padding">
  <ion-row class="header ion-padding">
    <ion-col size="8">
      <ion-title class="ion-no-padding">Indexed Products</ion-title>
      <ion-text
        >This items are indexed. Select the product if you want to edit
        it.</ion-text
      >
    </ion-col>
    <ion-col size="4">
      <ion-button
        (click)="openProductModal(true)"
        fill="outline"
        shape="round"
        color="secondary"
        mode="ios"
        expand="block"
      >
        <ion-icon slot="start" name="add-circle"></ion-icon> Add New
        Product</ion-button
      >
    </ion-col>
  </ion-row>

  <ion-row
  class="ion-justify-content-end"
*ngIf="merchantScript.indexedProducts.length > 10"
>
  <ion-button
    fill="clear"
    mode="ios"
    color="secondary"
    (click)="page = page - 1"
    [disabled]="page === 1"
    ><ion-icon slot="start" name="arrow-back"></ion-icon>
    Previous</ion-button
  >
  <ion-button
    fill="clear"
    mode="ios"
    color="secondary"
    (click)="page = page + 1"
    [disabled]="page === totalPages"
    ><ion-icon slot="end" name="arrow-forward"></ion-icon> Next
  </ion-button>
</ion-row>
  <ion-row
    *ngFor="
      let prod of merchantScript.indexedProducts
        | slice : (page - 1) * pageSize : page * pageSize
    "
  >
    <ion-item
      (click)="openProductModal(false, prod)"
      class="ion-text-capitalize"
      >{{ prod.title }}</ion-item
    >
  </ion-row>
</ion-grid>
