<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Merchant CMS </ion-title> -->
    <!-- <ion-buttons>
      <ion-button slot="end">Log In</ion-button>
    </ion-buttons> -->
  <!-- </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding-top">
  <ion-row *ngIf="userIsLoggedIn">
    <ion-title color="light">HI {{skScript.skData.client.name}}! </ion-title>
  </ion-row>

  <ion-row class="ion-justify-content-between">
    <ion-col>
      <ion-card (click)="goToPage('merchant-profile')" class="ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-title>Merchant Profile</ion-card-title>
        <ion-card-subtitle
          >Manage your company's profile on the app</ion-card-subtitle
        >
      </ion-card>
    </ion-col>
    <ion-col *ngIf="merchantScript.merchantAlreadyIndexed">
      <ion-card (click)="goToPage('products')" class="ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-card-title>Products</ion-card-title>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
