<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Merchant CMS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="merchant-info1">
<app-merchant-step1></app-merchant-step1>
  </ion-row>



  <ion-row class="merchant-info2">
    <app-merchant-step2></app-merchant-step2>
  </ion-row>
  <ion-row class="opening-hours"></ion-row>
  <ion-row class="delivery-info"> </ion-row>
  <ion-row class="menu-info1"> </ion-row>
  <ion-row class="menu-info2"> </ion-row>
</ion-content>
